@import './media.scss';
@import './reset.scss';

// 全局变量
$bg-red: rgb(233, 75, 67);
$bg-red-light : rgb(233, 75, 67, 0.3);
$bg-black: #141619;
$bg-background: rgba(32, 38, 44);
$color-gray: rgba(136, 136, 136);
$bg-gray: rgba(240, 240, 240);
$min-width: 1200px;

:root {
  --el-color-success: rgb(48, 178, 107) !important;
  --el-color-primary: rgb(233, 75, 67) !important;
}


.gray {
  color: $color-gray;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jsb {
  justify-content: space-between;
}

// 分隔线
.divider {
  border-top: 1px dashed rgba(231, 231, 231);
  margin: 10px 0;
}

.vertical-divider {
  display: inline-block;
  height: 12px;
  border-left: 1px solid rgba(231, 231, 231);
  margin: 0 10px;
  vertical-align: middle;
}